In [14]:
import pandas as pd
import numpy as np

In [15]:
df=pd.DataFrame(data=np.arange(0,10).reshape(2,5))

In [16]:
iris=pd.read_csv('iris.csv')

In [17]:
iris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [18]:
iris.tail()

     5.1  3.5  1.4  0.2     Iris-setosa
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

In [19]:
iris.head

<bound method NDFrame.head of      5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]>

In [20]:
df=pd.DataFrame(data=iris)

In [21]:
df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [25]:
# As I have taken only one column so I don't need to take mutidimensional column 
df1=df['Iris-setosa']

In [26]:
# Due to 1D it will give output as series
type(df1)

pandas.core.series.Series

In [27]:
df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [28]:
#for taking multiple columns we have to use Multidimentional array
df[['5.1','1.4','Iris-setosa']]

     5.1  1.4     Iris-setosa
0    4.9  1.4     Iris-setosa
1    4.7  1.3     Iris-setosa
2    4.6  1.5     Iris-setosa
3    5.0  1.4     Iris-setosa
4    5.4  1.7     Iris-setosa
..   ...  ...             ...
144  6.7  5.2  Iris-virginica
145  6.3  5.0  Iris-virginica
146  6.5  5.2  Iris-virginica
147  6.2  5.4  Iris-virginica
148  5.9  5.1  Iris-virginica

[149 rows x 3 columns]

In [31]:
df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [37]:
#describe
df.describe()

              5.1         3.5         1.4         0.2
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [42]:
df.loc[:2,['5.1','Iris-setosa']]

   5.1  Iris-setosa
0  4.9  Iris-setosa
1  4.7  Iris-setosa
2  4.6  Iris-setosa

In [43]:
df.iloc[:2,:3]

   5.1  3.5  1.4
0  4.9  3.0  1.4
1  4.7  3.2  1.3

In [45]:
df.sort_values('5.1')

     5.1  3.5  1.4  0.2     Iris-setosa
12   4.3  3.0  1.1  0.1     Iris-setosa
41   4.4  3.2  1.3  0.2     Iris-setosa
37   4.4  3.0  1.3  0.2     Iris-setosa
7    4.4  2.9  1.4  0.2     Iris-setosa
40   4.5  2.3  1.3  0.3     Iris-setosa
..   ...  ...  ...  ...             ...
117  7.7  2.6  6.9  2.3  Iris-virginica
116  7.7  3.8  6.7  2.2  Iris-virginica
121  7.7  2.8  6.7  2.0  Iris-virginica
134  7.7  3.0  6.1  2.3  Iris-virginica
130  7.9  3.8  6.4  2.0  Iris-virginica

[149 rows x 5 columns]

In [46]:
df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [50]:
df1=df.rename(columns={'5.1':'petal_length','3.5':'Petal_width','1.4':'sepal_length','0.2':'sepal_width'})

In [51]:
df1

     petal_length  Petal_width  sepal_length  sepal_width     Iris-setosa
0             4.9          3.0           1.4          0.2     Iris-setosa
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.6          3.1           1.5          0.2     Iris-setosa
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]

In [55]:
df1.sort_values('petal_length')

     petal_length  Petal_width  sepal_length  sepal_width     Iris-setosa
12            4.3          3.0           1.1          0.1     Iris-setosa
41            4.4          3.2           1.3          0.2     Iris-setosa
37            4.4          3.0           1.3          0.2     Iris-setosa
7             4.4          2.9           1.4          0.2     Iris-setosa
40            4.5          2.3           1.3          0.3     Iris-setosa
..            ...          ...           ...          ...             ...
117           7.7          2.6           6.9          2.3  Iris-virginica
116           7.7          3.8           6.7          2.2  Iris-virginica
121           7.7          2.8           6.7          2.0  Iris-virginica
134           7.7          3.0           6.1          2.3  Iris-virginica
130           7.9          3.8           6.4          2.0  Iris-virginica

[149 rows x 5 columns]

In [56]:
df2=df1.drop_duplicates('petal_length')

In [57]:
df2

     petal_length  Petal_width  sepal_length  sepal_width      Iris-setosa
0             4.9          3.0           1.4          0.2      Iris-setosa
1             4.7          3.2           1.3          0.2      Iris-setosa
2             4.6          3.1           1.5          0.2      Iris-setosa
3             5.0          3.6           1.4          0.2      Iris-setosa
4             5.4          3.9           1.7          0.4      Iris-setosa
7             4.4          2.9           1.4          0.2      Iris-setosa
10            4.8          3.4           1.6          0.2      Iris-setosa
12            4.3          3.0           1.1          0.1      Iris-setosa
13            5.8          4.0           1.2          0.2      Iris-setosa
14            5.7          4.4           1.5          0.4      Iris-setosa
16            5.1          3.5           1.4          0.3      Iris-setosa
26            5.2          3.5           1.5          0.2      Iris-setosa
32            5.5          4.2           1.4          0.2      Iris-setosa
40            4.5          2.3           1.3          0.3      Iris-setosa
47            5.3          3.7           1.5          0.2      Iris-setosa
49            7.0          3.2           4.7          1.4  Iris-versicolor
50            6.4          3.2           4.5          1.5  Iris-versicolor
51            6.9          3.1           4.9          1.5  Iris-versicolor
53            6.5          2.8           4.6          1.5  Iris-versicolor
55            6.3          3.3           4.7          1.6  Iris-versicolor
57            6.6          2.9           4.6          1.3  Iris-versicolor
60            5.9          3.0           4.2          1.5  Iris-versicolor
61            6.0          2.2           4.0          1.0  Iris-versicolor
62            6.1          2.9           4.7          1.4  Iris-versicolor
63            5.6          2.9           3.6          1.3  Iris-versicolor
64            6.7          3.1           4.4          1.4  Iris-versicolor
67            6.2          2.2           4.5          1.5  Iris-versicolor
75            6.8          2.8           4.8          1.4  Iris-versicolor
101           7.1          3.0           5.9          2.1   Iris-virginica
104           7.6          3.0           6.6          2.1   Iris-virginica
106           7.3          2.9           6.3          1.8   Iris-virginica
108           7.2          3.6           6.1          2.5   Iris-virginica
116           7.7          3.8           6.7          2.2   Iris-virginica
129           7.4          2.8           6.1          1.9   Iris-virginica
130           7.9          3.8           6.4          2.0   Iris-virginica

In [60]:
df2.isnull().sum()

petal_length    0
Petal_width     0
sepal_length    0
sepal_width     0
Iris-setosa     0
dtype: int64

In [62]:
# it will drop NaN files
df2.dropna()

     petal_length  Petal_width  sepal_length  sepal_width      Iris-setosa
0             4.9          3.0           1.4          0.2      Iris-setosa
1             4.7          3.2           1.3          0.2      Iris-setosa
2             4.6          3.1           1.5          0.2      Iris-setosa
3             5.0          3.6           1.4          0.2      Iris-setosa
4             5.4          3.9           1.7          0.4      Iris-setosa
7             4.4          2.9           1.4          0.2      Iris-setosa
10            4.8          3.4           1.6          0.2      Iris-setosa
12            4.3          3.0           1.1          0.1      Iris-setosa
13            5.8          4.0           1.2          0.2      Iris-setosa
14            5.7          4.4           1.5          0.4      Iris-setosa
16            5.1          3.5           1.4          0.3      Iris-setosa
26            5.2          3.5           1.5          0.2      Iris-setosa
32            5.5          4.2           1.4          0.2      Iris-setosa
40            4.5          2.3           1.3          0.3      Iris-setosa
47            5.3          3.7           1.5          0.2      Iris-setosa
49            7.0          3.2           4.7          1.4  Iris-versicolor
50            6.4          3.2           4.5          1.5  Iris-versicolor
51            6.9          3.1           4.9          1.5  Iris-versicolor
53            6.5          2.8           4.6          1.5  Iris-versicolor
55            6.3          3.3           4.7          1.6  Iris-versicolor
57            6.6          2.9           4.6          1.3  Iris-versicolor
60            5.9          3.0           4.2          1.5  Iris-versicolor
61            6.0          2.2           4.0          1.0  Iris-versicolor
62            6.1          2.9           4.7          1.4  Iris-versicolor
63            5.6          2.9           3.6          1.3  Iris-versicolor
64            6.7          3.1           4.4          1.4  Iris-versicolor
67            6.2          2.2           4.5          1.5  Iris-versicolor
75            6.8          2.8           4.8          1.4  Iris-versicolor
101           7.1          3.0           5.9          2.1   Iris-virginica
104           7.6          3.0           6.6          2.1   Iris-virginica
106           7.3          2.9           6.3          1.8   Iris-virginica
108           7.2          3.6           6.1          2.5   Iris-virginica
116           7.7          3.8           6.7          2.2   Iris-virginica
129           7.4          2.8           6.1          1.9   Iris-virginica
130           7.9          3.8           6.4          2.0   Iris-virginica

In [86]:
#date_range
df4=pd.date_range('20200101',periods=8,freq='M')

In [87]:
df4

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31'],
              dtype='datetime64[ns]', freq='M')

In [88]:
ran=np.random.randn(8,5)
data=pd.DataFrame(ran,index=df4,columns=['C1','C2','C3','C4','C5'])

In [89]:
data

                  C1        C2        C3        C4        C5
2020-01-31 -0.665039 -0.955959  1.472065  0.679796  0.954566
2020-02-29 -1.569973  1.516499 -0.636206 -1.419804 -0.694113
2020-03-31  0.120550 -1.785378 -0.025117  0.292167  0.392160
2020-04-30  0.559230 -0.803090  0.385736  1.364110 -0.014759
2020-05-31 -0.323308  1.468756  1.040306  0.466718 -1.172188
2020-06-30 -0.255409  0.350937  0.989930 -0.297039 -0.278460
2020-07-31  0.842434  0.492517 -1.279283  0.037043 -0.558235
2020-08-31  0.303242  0.221666  0.838653  0.343943  0.172673

In [90]:
#Aggregation and Grouping

In [93]:
dat=np.random.rand(4,5)
dat1=pd.DataFrame(dat,index=['A','B','C','D'],columns=['C1','C2','C3','C4','C5'])

In [95]:
dat1

         C1        C2        C3        C4        C5
A  0.497542  0.691594  0.844420  0.267796  0.944684
B  0.632394  0.884384  0.924139  0.025243  0.384560
C  0.841585  0.721655  0.944674  0.617731  0.427727
D  0.490189  0.791399  0.615055  0.302752  0.102141

In [99]:
#calling of functions in python AIML use apply() function
def add(x):
    x=x+10
    return x

def add1(y):
    return y+10
print(dat1)
print(dat1.apply(add))
print(dat1.apply(add1))

         C1        C2        C3        C4        C5
A  0.497542  0.691594  0.844420  0.267796  0.944684
B  0.632394  0.884384  0.924139  0.025243  0.384560
C  0.841585  0.721655  0.944674  0.617731  0.427727
D  0.490189  0.791399  0.615055  0.302752  0.102141
          C1         C2         C3         C4         C5
A  10.497542  10.691594  10.844420  10.267796  10.944684
B  10.632394  10.884384  10.924139  10.025243  10.384560
C  10.841585  10.721655  10.944674  10.617731  10.427727
D  10.490189  10.791399  10.615055  10.302752  10.102141
          C1         C2         C3         C4         C5
A  10.497542  10.691594  10.844420  10.267796  10.944684
B  10.632394  10.884384  10.924139  10.025243  10.384560
C  10.841585  10.721655  10.944674  10.617731  10.427727
D  10.490189  10.791399  10.615055  10.302752  10.102141

In [103]:
data1=pd.Series(range(10))
data1
dat2=data1.transform([np.sqrt])

In [104]:
dat2

       sqrt
0  0.000000
1  1.000000
2  1.414214
3  1.732051
4  2.000000
5  2.236068
6  2.449490
7  2.645751
8  2.828427
9  3.000000